{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3"><h1>Cours</h1><a class="btn btn-primary" href="{% url 'course_create' %}">+ Ajouter</a></div>
<form method="get" class="row g-2 mb-3"><div class="col-md-6"><input class="form-control" name="q" value="{{ q }}" placeholder="Rechercher code, nom, description..."></div><div class="col-auto"><button class="btn btn-outline-primary">Rechercher</button>{% if q %}<a class="btn btn-outline-secondary" href="{% url 'courses' %}">Réinitialiser</a>{% endif %}</div></form>
<table class="table table-striped bg-white align-middle"><thead><tr><th>Code</th><th>Nom</th><th>Prix</th><th>Capacité</th><th>Statut</th><th class="text-end">Actions</th></tr></thead><tbody>{% for c in page_obj %}<tr><td>{{ c.code }}</td><td>{{ c.name }}</td><td>{{ c.price }}</td><td>{{ c.capacity }}</td><td>{{ c.get_status_display }}</td><td class="text-end"><a class="btn btn-sm btn-outline-primary" href="{% url 'course_update' c.pk %}">Modifier</a> <a class="btn btn-sm btn-outline-danger" href="{% url 'course_delete' c.pk %}">Supprimer</a></td></tr>{% empty %}<tr><td colspan="6">Aucun cours.</td></tr>{% endfor %}</tbody></table>
{% include "students/pagination.html" %}
{% endblock %}
